*{
    margin: 0;
    padding: 0;
}

/* corpo da pagina */


body {
    background-image: linear-gradient(165deg, #d7eafd, #c5dff8, #bcd8f5, #b8d7f5c7, #b4e6fa, #a2dff7, #90cfec, #74b5d3, #4a8db7, #4a8db7, #3b7197);
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    background-color: #b4e6fa, #3b7197;
    /* background-image: url(/img/imgback.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}

/* barra de navegação */
header{
    background-color: white;
    color: #3b7197;
    
    width: 100%;
    flex-direction: column;
    position: sticky;
    
 
}
.navHeader{ /*botoes da header */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} 
.navHeader:hover, .selected{/*Quando o cursor passar por cima da nav a cor do link ficará preta e o tamanho da letra aumentada*/
    color: black;
    font-weight: 900;
}
button:hover {/*dar um zoom assim que o cursor passar do cima do botão (ENTRE AQUI)*/
    transform: scale(1.1);
    transition: all 0.5s;
} 
.divinfo{
    
    background-color: #b7eafd;
    height: 20px;
    margin-top: 0px;
    color: #3b7197;
    
}
.pend{
    text-align: center;
}
.whatsapp{
    width: 15px;
    height: 15px;
}
.divnav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #3b7197;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;                           
}
nav :hover{
    color:#000 ;
}

.logo{
    width: 80px;
    
}
a{
    text-decoration: none;
    color: #3b7197;;
}
button{
 
	
	border-radius: 30px;
	border:1px solid #000;
	height: 50px;
	width: 120px;
	font: bold 15px arial,sans-serif;
	
}

.entreaq:hover{
    color: #000;
   
}
.botao-entre{
    background-color: #74b5d3;
}


.row-principal {
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 1920px;
    margin-top: 20px;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;

}

.conf-itens {
    border: 1px solid rgb(0, 250, 187);
    border-radius: 25px;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 50%;
    box-shadow: 0 0 7px 0.5px black;
    height: 290px;
}

.column-icon {
    /* border: 2px solid rgb(0, 255, 0); */
    /* background-color: white; */
    padding: 20px;
    /* border-top-left-radius: 23px;
    border-bottom-left-radius: 23px; */

}


.text-information {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: white; */
    padding: 20px;
    /* border: 2px solid orange; */
    width: 100%;
    text-align: justify;
    /* border-top-right-radius: 23px;
    border-bottom-right-radius: 23px; */


}

#button-check-appointment {
    position: relative;
    left: 60%;
    bottom: 15%;
    border-radius: 30px;
    background-color: #d7eafd;
    height: 100px;
    width: 200px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3b7197;
    border: none;
}

a {
    text-decoration: none;
    color: #3b7197
}

.row-secundary {
    /* border: 3px solid black; */
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1920px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.first-buttons {
    /* border: 2px solid salmon; */
    width: 50%;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    margin: 20px;
}

#att-cad{
    width: 30%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 7px 0.5px;
    cursor: pointer;
    background-color: white;
}

.second-buttons {
    /* border: 2px solid brown; */
    width: 50%;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    
}

#my-appointment{
    width: 30%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 7px 0.5px;
    cursor: pointer;
    background-color: white;
    }

.material-icons.md-18{
    position: relative;
    left: 42px;
    
    text-align: center;
}

.material-symbols-sharp{
    position: relative;
    left: 10px;
}

.row-third {
    /* border: 3px solid rgb(0, 17, 255); */
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1920px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
    

}
.div-calendario{
   
    height: 50%;
    margin-right: 2%;
 
}

.conf-appointment {
    /* border: 1px solid rgb(0, 250, 187); */
    border-radius: 25px;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    margin-right: 6%;
    background-color: white;
    width: 50%;
    box-shadow: 0 0 7px 0.5px black;
    height: 290px;
}
.div-botao{
    /* border: red solid 1px; */
    width: 20%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-;
    align-items: end;
   margin-right: 2%;
   margin-bottom: 2%;
}
/* #button-confirm-appointment {
   
  
   
} */

  .botao-selecionado2{
    background-color: #0fa85c;
  
  }

.text-information2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: white; */
    padding: 20px;
    /* border: 2px solid orange; */
    width: 100%;
    text-align: justify;
    /* border-top-right-radius: 23px;
    border-bottom-right-radius: 23px; */


}

.initialColor  {
    background-color: rgb(192, 83, 55);
}
/*--------------------CELULAR--------------------------*/

@media only screen and (max-width: 896px) and (min-width: 414px){
.divinfo{
        display: none;
}
.pend{
        display: none;
     
    }
.navHeader{
        font-size: 85%;
   
}
.botao-entre{
        width: 20%;
}
.conf-itens{
        border: solid 2px black;
        width: 60%;

    }
.column-icon{
        /* border: 2px solid red; */
        width: 150px;
        height: 150px;
    }
.img-perfil{
        width: 100px;
        height: 100px;
}
.perfil-information{
    font-size: 60%;
}

#my-appointment{
    width: 69%;
    font-size: 80%;
}
.material-symbols-sharp{
    width: 2px;
}

}